<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- Bootstrap core CSS -->
	<h:outputStylesheet library="webjars" name="bootstrap/4.1.1/css/bootstrap.min.css" />
</h:head>

<f:metadata>
	<f:viewAction action="#{gameView.beginGame}" />
</f:metadata>

<body>
	<h:form id="gameForm">
		<div class="container">
			<div class="jumbotron">
				<h:panelGroup rendered="#{not interaction.gameFinished}">
					<h1 id="gameHeader" class="display-4">${interaction.header}</h1>
					<p id="gameTurn" class="lead">Turn ${interaction.turn}</p>
					
					<div class="input-group input-group-lg">
						<div class="input-group-prepend">
							<ui:repeat var="letter" value="${interaction.letters}" varStatus="status">
								<span id="letter-${status.index}" class="input-group-text text-uppercase">${letter}</span>
							</ui:repeat>
						</div>

						<h:inputText value="#{interaction.inputLetter}" id="inputLetter" class="form-control" maxlength="1" autocomplete="off" size="1" />
					</div>
					<br />
					<div class="form-row text-center">
						<div class="col-12">
							<h:commandButton action="#{gameView.play()}" value="Play Letter" id="playButton" class="btn btn-primary" rendered="#{not interaction.gameFinished}">
								<f:ajax execute="inputLetter" render="@form" />
							</h:commandButton>
						</div>
					</div>
				</h:panelGroup>
				<h:panelGroup rendered="#{interaction.gameFinished}">
					<h:panelGroup rendered="#{interaction.playerWins}">
						<h1 id="gameHeader" class="display-4">You win!</h1>
					</h:panelGroup>
					<h:panelGroup rendered="#{not interaction.playerWins}">
						<h1 id="gameHeader" class="display-4">You loose!</h1>
					</h:panelGroup>
					<p class="lead">Final word: ${interaction.word}</p>
				</h:panelGroup>
			</div>
		</div>
	</h:form>
</body>
</html>
