<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<!-- Bootstrap core CSS -->
	<h:outputStylesheet library="webjars" name="bootstrap/4.1.1/css/bootstrap.min.css" />
</h:head>
<body>
	<h:form id="introForm">
		<div class="container">
			<div class="jumbotron">
				<h1 id="gameName" class="display-4" >Ghost Game!</h1>
				<p class="lead">Welcome human to the Ghost Game. Do you want to challeng me?</p>
				<h:link id="playButton" value="Hell yes!" outcome="game" styleClass="btn btn-primary btn-lg" />
			</div>
		</div>
	</h:form>
</body>
</html>
